:root {
    --sidebar-background-colour: rgb(125, 93, 206);
    --team-background-x: 459px;
}

/* Whole Page */
.page-size {
    position: absolute;
    top: 0;
    left: 0;
    width: 2560px;
    height: 1440px;
}

/* Now Playing Metadata Container */
.now-playing-metadata-container {
    position: absolute;
    display: flex;
}
/* Vinyl Container */
.vinyl-container {
    background: transparent;
    border-radius: 50%;
    width: var(--vinyl-container-dimension);
    height: var(--vinyl-container-dimension);
    z-index: 1;
}
/* Vinyl */
.vinyl {
    mix-blend-mode: luminosity;
    width: 100%;
    height: auto;
    animation: spin 20s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* Vinyl Map */
.vinyl-map {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    --dimension: 117px;
    width: var(--dimension);
    height: var(--dimension);
    background: center / cover;
    background-image: url("https://assets.ppy.sh/beatmaps/292301/covers/cover.jpg");
    border-radius: 50%;
}

/* Absolute Center */
.absolute-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Stream Title Top Left */
.stream-title {
    font-size: 27px;
    font-family: "Alan Sans";
    color: rgb(143, 177, 246);
    font-weight: 700;
    position: absolute;
}

/* Team Background */
.team-background {
    position: absolute;
    width: 388px;
}
.team-red-background {
    background-image: linear-gradient( 90deg, rgb(208,146,146) 0%, rgb(200,34,112) 100%);
    left: var(--team-background-x);
    box-shadow: 0 0 10px 4px rgba(200, 34, 112, 0.5);
}
.team-blue-background {
    background-image: linear-gradient( 90deg, rgb(1,50,233) 0%, rgb(0,219,222) 100%);
    right: var(--team-background-x);
    box-shadow: 0 0 10px 4px rgba(1, 50, 233, 0.5);
}

/* Team Name */
.team-name {
    position: absolute;
    color: white;
    font-weight: 700;
    letter-spacing: -1px;
    text-indent: 0.5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.team-red-name { 
    right: var(--team-name-x);
    text-align: right;
}
.team-blue-name { left: var(--team-name-x); }

/* Team Players */
.team-players {
    font-size: 30px;
    font-weight: 400;
    color: rgb(185, 183, 183);
    text-shadow: 0px 3px 7px rgba(0, 0, 0, 1);
    position: absolute;
    width: 554px;
    height: 105px;
    white-space: nowrap;
}
.player-rank { color: white; }

/* Score Container */
.score-container {
    top: 522px;
    font-size: 4em;
    font-family: "Alan Sans";
    font-weight: 700;
    color: white;
}

/* Pick Container */
.pick-container {
    display: flex;
    gap: 12px;
}
/* Pick Tile */
.pick-tile {
    position: relative;
    border-radius: 20px;
    width: 175px;
    height: 434px;
    background: center / cover;
}
/* Pick Tile Border */
.pick-tile-border {
    position: absolute;
    top: -2px;
    left: -5px;
}
/* Winner Crowns */
.pick-tile-winner-crown {
    bottom: 24px; 
}