/* Whole Page */
.page-size {
    position: absolute;
    top: 0;
    left: 0;
    width: 2560px;
    height: 1440px;
}

/* Now Playing Metadata Container */
.now-playing-metadata-container {
    position: absolute;
    display: flex;
}
/* Vinyl Container */
.vinyl-container {
    background: transparent;
    border-radius: 50%;
    width: var(--vinyl-container-dimension);
    height: var(--vinyl-container-dimension);
    z-index: 1;
}
/* Vinyl */
.vinyl {
    mix-blend-mode: luminosity;
    width: 100%;
    height: auto;
    animation: spin 20s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* Vinyl Map */
.vinyl-map {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    --dimension: 117px;
    width: var(--dimension);
    height: var(--dimension);
    background: center / cover;
    background-image: url("https://assets.ppy.sh/beatmaps/292301/covers/cover.jpg");
    border-radius: 50%;
}

/* Absolute Center */
.absolute-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Stream Title Top Left */
.stream-title {
    font-size: 27px;
    font-family: "Alan Sans";
    color: rgb(143, 177, 246);
    font-weight: 700;
    position: absolute;
}