:root {
    --team-background-x: 459px;
    --team-point-container-x: 1725px;
    --team-ban-container-x: 1721px;
}

/* Logo */
.logo {
    position: absolute;
    top: 19px;
    left: 17px;
}

/* Round Name */
.round-name {
    left: 18px;
    top: 107px;
}

/* Team Background */
.team-background {
    position: absolute;
    width: 388px;
}
.team-red-background {
    background-image: linear-gradient( 90deg, rgb(208,146,146) 0%, rgb(200,34,112) 100%);
    left: var(--team-background-x);
    box-shadow: 0 0 10px 4px rgba(200, 34, 112, 0.5);
}
.team-blue-background {
    background-image: linear-gradient( 90deg, rgb(1,50,233) 0%, rgb(0,219,222) 100%);
    right: var(--team-background-x);
    box-shadow: 0 0 10px 4px rgba(1, 50, 233, 0.5);
}

/* Team Name */
.team-name {
    position: absolute;
    color: white;
    font-weight: 700;
    letter-spacing: -1px;
    text-indent: 0.5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.team-red-name { 
    right: var(--team-name-x);
    text-align: right;
}
.team-blue-name { left: var(--team-name-x); }
/* Team Point Container */
.team-point-container {
    position: absolute;
    top: 180px;
    display: flex;
    gap: 11px;
}
.team-red-point-container {
    right: var(--team-point-container-x);
    flex-direction: row-reverse;
}
.team-blue-point-container { left: var(--team-point-container-x); }

/* Chat Box */
.chat-box {
    position: absolute;
    left: 1283px;
    transform: translateX(-50%);
}

/* Chat Display Container */
.chat-display-container {
    position: absolute;
    left: 873px;
    width: 815px;
    border-radius: 20px;
}
.chat-display-wrapper {
    --margin: 7px;
    position: absolute;
    top: var(--margin);
    left: var(--margin);
    right: var(--margin);
    bottom: var(--margin);

    width: calc(100% - var(--margin) * 2);
    max-height: calc(100% - var(--margin) * 2);

    overflow-y: auto;
    scroll-behavior: smooth;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

/* Chat Message */
.chat-message-wrapper {
    width: 100%;
    display: flex;
    font-family: "Alan Sans";
    font-weight: 500;
    text-shadow: 0px 5px 8.37px rgba(0, 0, 0, 0.27);
    font-size: 24px;
    letter-spacing: -0.7px;
    color: white;
}
.chat-message-time {
    color: rgb(209, 189, 83);
    width: 14%;
    text-align: center;
}
.unknown { color: rgb(255, 233, 103); }
.left { color: rgb(255, 103, 103); }
.right { color: rgb(103, 220, 255); }
.bot { color: rgb(103, 255, 136); }