:root {
    --team-name-x: 1720px;
    --score-bar-x: 50%;
    --score-bar-height: 13px;
    --score-bar-height-half: calc((var(--score-bar-height) / 2));
    --score-x: 1346px;

    --light-gray: rgb(209, 209, 209);
}

/* Ageta Chubby */
@font-face {
    font-family: "Ageta Chubby";
    src: url("../fonts/Ageta\ Chubby\ Demo.otf")
}

.main {
    font-family: "Alan Sans";
    background-image: url("static/background.png"); 
}

/* Team Background */
.team-background {
    top: 42px;
    height: 39px;
}

/* Team Name */
.team-name {
    top: 40px;
    font-size: 33px;
    width: 374px;
}

/* Now Playing Section */
.now-playing-section {
    top: 8px;
    width: 745px;
    height: 144px;
    font-family: "Alan Sans";
}
.now-playing-background {
    position: absolute;
    width: inherit;
    height: inherit;
    opacity: 0.839;
    background: center / cover;
    /* background-image: url("https://assets.ppy.sh/beatmaps/2494107/covers/cover.jpg"); */
    border-radius: 20px;
}
.now-playing-overlay {
    position: absolute;
    top: -2px;
    left: -5px;
}
/* Now Playing Category */
.now-playing-category { top: 10px; }
/* Now Playing Stats */
.now-playing-stats {
    position: absolute;
    top: 76px;
    left: 15px;
    font-size: 18px;
    color: var(--light-gray);
    text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.47);
    font-weight: 500;
    display: flex;
    flex-direction: column;
    height: 47px;
    flex-wrap: wrap;
    column-gap: 35px;
    transition: 500ms ease-in-out;
}
/* Now Playing Stats Side  */
.now-playing-stat-left {
    display: flex;
    justify-content: space-between;
}
.now-playing-stat-right {
    display: flex;
    gap: 5px;
}
/* Now Playing Stats Content */
.now-playing-stat-text { width: 22px; }
.now-playing-stat-number {
    color: white;
    font-weight: 700;
    text-align: right;
    width: 40px;
}
.now-playing-stat-right .now-playing-stat-number { text-align: left; }
/* Now Playing Metadata */
.now-playing-metadata {
    text-align: center;
    top: 54px;
    font-size: 18px;
    color: white;
    text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.47);
    font-weight: 600;
    transition: 500ms ease-in-out;
}
.now-playing-title { color: var(--light-gray); }
/* Now Playing Mapped By */
.now-playing-mapped-by {
    font-family: "Alan Sans";
    font-weight: 500;
    font-size: 18px;
    position: absolute;
    top: 79px;
    right: 18px;
    text-align: right;
    color: var(--light-gray);
}
.now-playing-mapper {
    color: white;
    font-weight: 700;
}

/* Playing Score Area */
.playing-score-container {
    position: absolute;
    top: 1242px;
    width: 2560px;
}
/* Score bars */
.score-bar {
    position: absolute;
    background-color: white;
    width: 235px;
    height: var(--score-bar-height);
}
.score-bar-left {
    right: var(--score-bar-x);
    border-radius: var(--score-bar-height-half) 0 0 var(--score-bar-height-half);
}
.score-bar-right {
    left: var(--score-bar-x);
    border-radius: 0 var(--score-bar-height-half) var(--score-bar-height-half) 0;
}
/* Score Difference */
.score-difference {
    position: absolute;
    top: 5px;
    font-size: 27px;
    font-weight: 700;
    color: white;
}
.score-difference-left { right: var(--score-x); }
.score-difference-right { left: var(--score-x); }
/* Scores */
.score {
    position: absolute;
    top: 35px;
    font-size: 38px;
    font-weight: 600;
    color: white;
}
.score-left { right: var(--score-x); }
.score-right { left: var(--score-x); }
.score-lead {
    top: 26px;
    font-size: 54px;
}

/* Crown */
.crown {
    top: -29px;
    height: 170px;
}