:root {
    --team-name-x: 1731px;

    --sidebar-column-width: 300px;
    --screen-height: 1440px;
}

/* Ageta Chubby */
@font-face {
    font-family: "Ageta Chubby";
    src: url("../fonts/Ageta\ Chubby\ Demo.otf")
}

.main { font-family: "Alan Sans"; }

/* Team Background */
.team-background {
    top: 122px;
    height: 49px;
}
.team-red-background {
    background-image: linear-gradient( 90deg, rgb(208,146,146) 0%, rgb(200,34,112) 100%);
    left: var(--team-background-x);
    box-shadow: 0 0 10px 4px rgba(200, 34, 112, 0.5);
}
.team-blue-background {
    background-image: linear-gradient( 90deg, rgb(1,50,233) 0%, rgb(0,219,222) 100%);
    right: var(--team-background-x);
    box-shadow: 0 0 10px 4px rgba(1, 50, 233, 0.5);
}

/* Team Name */
.team-name {
    top: 118px;
    font-size: 42px;
    width: 355px;
}

/* Team Ban Container */
.team-ban-container {
    position: absolute;
    top: 247px;
    display: none;
    color: white;
    gap: 10px;
}
.team-red-ban-container { right: var(--team-ban-container-x); }
.team-blue-ban-container { left: var(--team-ban-container-x); }
.bans-text {
    font-family: "Ageta Chubby";
    font-size: 29px;
    line-height: 30px;
}
.team-ban-container img { height: 35px; }

/* Current Map Background Image */
.current-map-background-image {
    position: absolute;
    top: -30px;
    width: 1142px;
    height: 777px;
    mask-image: url("static/layer-mask.png");
    mask-mode: alpha;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.current-map-background-image img { height: 777px; }

/* Current Map Category Image*/
.current-map-category-image {
    top: 55px;
    height: 60px;
}

/* Current Map Artist + Title */
.current-map-metadata-wrapper {
    text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
    color: rgb(229, 229, 229);
    font-size: 27px;
}
.current-map-artist-title { 
    top: 143px;
    display: none
}
.current-map-mapper { 
    top: 170px;
    display: none
}
.current-map-metadata-bold { font-weight: 700; }

/* Current Map Picker */
.current-map-picker {
    top: 495px;
    height: 43px;
}
/* .current-map-picker {
    top: 535px;
    height: 65px;
} */

/* Current Map Win Result */
.current-map-win-result {
    top: 541px;
    display: none;
}
.current-mpa-win-scores {
    top: 547px;
    font-family: "SUSE";
    color: white;
    font-weight: 700;
    font-size: 28px;
    display: none;
}
.current-map-win-scores-medium { font-weight: 500; }

/* Chat Box */
.chat-box { top: 642px; }

/* Chat Display Container */
.chat-display-container {
    top: 646px;
    height: 208px;
}

/* Pick Container */
.pick-container { top: 942px; }

/* Pick Tile */
.pick-tile { display: none; }

/* Pick Tile Border */
.pick-tile-border {
    position: absolute;
    top: -2px;
    left: -5px;
}

/* Pick Tile Category */
.pick-tile-category {
    top: -50px;
}

/* Winner Crowns */
.pick-tile-winner-crown { display: none; }

/* Pick Tile Bottom */
.pick-tile-bottom-bg {
    position: absolute;
    bottom: -10px;
    left: -5px;
}
.pick-tile-bottom-text {
    position: absolute;
    bottom: 20px;
    font-size: 26px;
    color: white;
    font-weight: 700;
    width: 100%;
    text-align: center;
    text-shadow: 0px 5px 7.65px rgba(49, 86, 170, 0.004);
}

/* Sidebar */
.sidebar {
    position: absolute;
    top: 0;
    left: 2560px;
    width: calc(var(--sidebar-column-width) * 3);
    height: var(--screen-height);
    background-color: var(--sidebar-background-colour);
    overfloW: hidden;
    color: white;
    font-family: "Alan Sans";
}
/* Sidebar Column */
.column {
    position: absolute;
    top: 0;
    width: var(--sidebar-column-width);
}
.column-1 { left: 0; }
.column-2 { left: var(--sidebar-column-width); }
.column-3 { left: calc(var(--sidebar-column-width) * 2); }
/* Sidebar Divider */
.divider {
    position: absolute;
    width: 3px;
    height: var(--screen-height);
    background-color: white;
}
.divider-1 { left: 298.5px; }
.divider-2 { left: 598.5px; }
/* Sidebar Section */
.sidebar-section {
    padding-bottom: 13px;
    border-bottom: 3px solid white;
}
/* Sidebar H1s */
.sidebar-section h1 {
    text-align: center;
    width: 100%;
    font-size: 1.4em;
}
.sidebar-section h2 {
    text-align: center;
    width: 100%;
    font-size: 1.15em;
}
/* Sidebar Text */
.sidebar-text {
    text-align: center;
    font-family: "Alan Sans";
    font-size: 1.2em;
}
/* Sidebar Button Container */
.sidebar-button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* Sidebar Button */
.sidebar-button {
    --height: 30px;
    width: 110px;
    height: var(--height);
    margin: 5px;
    border-radius: calc(var(--height) / 2);
    border: 2px solid white;
    background-color: transparent;
    font-size: 1em;
    font-family: inherit;
    color: inherit;
}
.sidebar-button:active {
    background-color: white;
    color: var(--sidebar-background-colour);
}
/* Full Size Button */
.full-size-button { width: 230px; }
.full-size-button:active { color: var(--sidebar-background-colour); }
/* Apply Changes Button */
.apply-changes-button, #apply-match {
    margin-top: 15px;
    margin-left: 35px;
    height: 45px;
}
/* Toggle Button */
.toggle-on { background-color: green; }
.toggle-off { background-color: maroon; }

/* Ban Pick Management Select*/
.ban-pick-management-select, .match-select {
    width: var(--sidebar-column-width);
    text-align: center;
    color: var(--dark-gray);
    background-color: transparent;
    border: none;
    font-family: "Alan Sans";
    font-weight: 700;
    font-size: 1.25em;
}
.ban-pick-management-select::-webkit-scrollbar,
.match-select::-webkit-scrollbar { display: none; }
/* Which Map */
.which-map-select {
    width: var(--sidebar-column-width);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.which-side-button {
    --height: 25px;
    height: var(--height);
    line-height: var(--height);
    font-size: 1.25em;
    font-family: "Alan Sans";
    color: var(--secondary-colour);
    background-color: transparent;
    border: none;
}
.which-map-button { width: 70px; }
.which-pick-button {
    width: 125px;
}

/* Not Yet Picked Video */
.not-yet-picked-video, .pick-video {
    position: absolute;
    width: 2560px;
    opacity: 0;
    transition: 500ms ease-in-out;
}
.pick-video { top: -70px; }