:root {
    --team-background-x: 459px;
    --team-name-x: 1731px;
    --team-point-container-x: 1725px;
    --team-ban-container-x: 1721px;
}

/* Ageta Chubby */
@font-face {
    font-family: "Ageta Chubby";
    src: url("../fonts/Ageta\ Chubby\ Demo.otf")
}

.main { 
    background-image: url("static/background.png");
    font-family: "Alan Sans";
}

/* Logo */
.logo {
    position: absolute;
    top: 19px;
    left: 17px;
}

/* Round Name */
.round-name {
    left: 18px;
    top: 107px;
}

/* Team Background */
.team-background {
    position: absolute;
    top: 122px;
    width: 388px;
    height: 49px;
}
.team-red-background {
    background-image: linear-gradient( 90deg, rgb(208,146,146) 0%, rgb(200,34,112) 100%);
    left: var(--team-background-x);
    box-shadow: 0 0 10px 4px rgba(200, 34, 112, 0.5);
}
.team-blue-background {
    background-image: linear-gradient( 90deg, rgb(1,50,233) 0%, rgb(0,219,222) 100%);
    right: var(--team-background-x);
    box-shadow: 0 0 10px 4px rgba(1, 50, 233, 0.5);
}

/* Team Name */
.team-name {
    position: absolute;
    top: 118px;
    color: white;
    font-weight: 700;
    font-size: 42px;
    letter-spacing: -1px;
    text-indent: 0.5px;
}
.team-red-name { right: var(--team-name-x); }
.team-blue-name { left: var(--team-name-x); }
/* Team Point Container */
.team-point-container {
    position: absolute;
    top: 180px;
    display: flex;
    gap: 11px;
}
.team-red-point-container {
    right: var(--team-point-container-x);
    flex-direction: row-reverse;
}
.team-blue-point-container { left: var(--team-point-container-x); }

/* Team Ban Container */
.team-ban-container {
    position: absolute;
    top: 247px;
    display: flex;
    color: white;
    gap: 10px;
}
.team-red-ban-container { right: var(--team-ban-container-x); }
.team-blue-ban-container { left: var(--team-ban-container-x); }
.bans-text {
    font-family: "Ageta Chubby";
    font-size: 29px;
    line-height: 30px;
}
.team-ban-container img { height: 35px; }

/* Current Map Background Image */
.current-map-background-image {
    position: absolute;
    top: -30px;
    width: 1142px;
    height: 777px;
    mask-image: url("static/layer-mask.png");
    mask-mode: alpha;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.current-map-background-image img { height: 777px; }

/* Current Map Category Image*/
.current-map-category-image {
    top: 55px;
    height: 60px;
}

/* Current Map Artist + Title */
.current-map-metadata-wrapper {
    text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
    color: rgb(229, 229, 229);
    font-size: 27px;
}
.current-map-artist-title { top: 143px; }
.current-map-mapper { top: 170px;}
.current-map-metadata-bold { font-weight: 700; }

/* Current Map Picker */
.current-map-picker {
    top: 495px;
    height: 43px;
}
/* .current-map-picker {
    top: 535px;
    height: 65px;
} */

/* Current Map Win Result */
.current-map-win-result { top: 541px; }
.current-mpa-win-scores {
    top: 547px;
    font-family: "SUSE";
    color: white;
    font-weight: 700;
    font-size: 28px;
}
.current-map-win-scores-medium { font-weight: 500; }

/* Chat Box */
.chat-box {
    position: absolute;
    top: 642px;
    left: 1283px;
    transform: translateX(-50%);
}

/* Chat Display Container */
.chat-display-container {
    position: absolute;
    top: 646px;
    left: 873px;
    width: 815px;
    height: 208px;
    border-radius: 20px;
}
.chat-display-wrapper {
    --margin: 7px;
    position: absolute;
    top: var(--margin);
    left: var(--margin);
    right: var(--margin);
    bottom: var(--margin);

    width: calc(100% - var(--margin) * 2);
    max-height: calc(100% - var(--margin) * 2);

    overflow-y: auto;
    scroll-behavior: smooth;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

/* Chat Message */
.chat-message-wrapper {
    width: 100%;
    display: flex;
    font-family: "Alan Sans";
    font-weight: 500;
    text-shadow: 0px 5px 8.37px rgba(0, 0, 0, 0.27);
    font-size: 24px;
    letter-spacing: -0.7px;
    color: white;
}
.chat-message-time {
    color: rgb(209, 189, 83);
    width: 14%;
    text-align: center;
}
.unknown { color: rgb(255, 233, 103); }
.left { color: rgb(255, 103, 103); }
.right { color: rgb(103, 220, 255); }
.bot { color: rgb(103, 255, 136); }

/* Pick Container */
.pick-container {
    top: 942px;
    display: flex;
    gap: 12px;
}

/* Pick Tile */
.pick-tile {
    position: relative;
    border-radius: 20px;
    width: 175px;
    height: 434px;
    background: center / cover;
    background-image: url("https://assets.ppy.sh/beatmaps/1752094/covers/cover.jpg");
}

/* Pick Tile Border */
.pick-tile-border {
    position: absolute;
    top: -2px;
    left: -5px;
}

/* Pick Tile Category */
.pick-tile-category {
    top: -50px;
}

/* Winner Crowns */
.pick-tile-winner-crown { bottom: 24px; }

/* Pick Tile Bottom */
.pick-tile-bottom-bg {
    position: absolute;
    bottom: -10px;
    left: -5px;
}
.pick-tile-bottom-text {
    position: absolute;
    bottom: 20px;
    font-size: 26px;
    color: white;
    font-weight: 700;
    width: 100%;
    text-align: center;
    text-shadow: 0px 5px 7.65px rgba(49, 86, 170, 0.004);
}

/* Sidebar */
.sidebar {
    position: absolute;
    top: 0;
    left: 1920px;
    width: 500px;
    height: 1080px;
    background-color: var(--light-gray);
    overfloW: hidden;
}
/* Sidebar Column */
.column {
    position: absolute;
    top: 0;
    width: 250px;
}
.column-1 { left: 0; }
.column-2 { left: 250px; }
/* Sidebar Divider */
.divider {
    position: absolute;
    width: 2px;
    height: 1080px;
    background-color: var(--dark-gray);
}
.divider-1 { left: 249px; }
/* Sidebar Section */
.sidebar-section {
    padding-bottom: 10px;
    border-bottom: 2px solid var(--dark-gray);
}
/* Sidebar H1s */
.sidebar-section h1 {
    text-align: center;
    width: 100%;
    font-size: 1.4em;
}
.sidebar-section h2 {
    text-align: center;
    width: 100%;
    font-size: 1.15em;
}
/* Sidebar Text */
.sidebar-text {
    text-align: center;
    font-family: "Torus";
    font-size: 1.2em;
}
.font-family-orlando-caps-cg { font-family: unset; }
/* Sidebar Button Container */
.sidebar-button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* Sidebar Button */
.sidebar-button {
    --height: 30px;
    width: 110px;
    height: var(--height);
    margin: 5px;
    border-radius: calc(var(--height) / 2);
    border: 2px solid var(--dark-gray);
    background-color: transparent;
    font-size: 1em;
    font-family: inherit;
}
.sidebar-button:active {
    background-color: var(--dark-gray);
    color: var(--light-gray);
}
/* Full Size Button */
.full-size-button {
    width: 230px;
    color: var(--light-gray);
}
/* Apply Changes Button */
.apply-changes-button {
    margin-top: 15px;
    margin-left: 10px;
    height: 45px;
}
.apply-changes-button:active {
    background-color: var(--dark-gray);
    color: var(--light-gray);
}
/* Toggle Button */
.toggle-on { background-color: green; }
.toggle-off { background-color: maroon; }

/* Ban Pick Management Select*/
.ban-pick-management-select {
    width: 250px;
    text-align: center;
    color: var(--dark-gray);
    background-color: transparent;
    border: none;
    font-family: "Torus";
    font-weight: 700;
    font-size: 1.25em;
}
.ban-pick-management-select::-webkit-scrollbar { display: none; }
/* Which Map */
.which-map-select {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.which-side-button {
    --height: 25px;
    height: var(--height);
    line-height: var(--height);
    font-size: 1.25em;
    font-family: "Torus";
    color: var(--secondary-colour);
    background-color: transparent;
    border: none;
}
.which-map-button { width: 70px; }