:root {
    --aim-text-color: rgb(255, 193, 209);

    --now-playing-stats-container-left: 16px;
}

/* Main Page */
.main {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("static/background.png");
    width: 2560px;
    height: 1440px;
}

/* Absolute Center */
.absolute-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Logo */
.logo { top: 25px; }

/* Showcase Round Text */
.showcase-round-text {
    font-size: 25px;
    font-family: "Alan Sans";
    color: rgb(162, 171, 240);
    font-weight: 700;
    position: absolute;
    left: 320px;
    top: 123px;
}

/* Map Shown Container */
.maps-shown-container {
    position: absolute;
    top: 161px;
    left: 0px;
    width: 317px;
    height: 1086px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Map Shown Wrapper */
.map-shown-wrapper {
    width: 270px;
    height: 207px;
}
/* Map Shown Identifier */
.map-shown-identifier {
    height: 42px;
    margin-left: -3px;
}
/* Map Shown Metadata */
.map-shown-metadata {
    font-size: 19px;
    font-family: "Alan Sans";
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* Map Shown Artist */
.map-shown-artist {
    color: rgb(255, 193, 209);
    margin-top: -12px;
}
/* Map Shown Title */
.map-shown-title {
    color: white;
    margin-top: -3px;
}
/* Map Shown Difficulty */
.map-shown-difficulty {
    color: rgb(255, 193, 209);
    margin-top: -3px;
}
/* Map Shwon Background */
.map-shown-background {
    position: relative;
    --border-radius-px: 22px;
    width: 270px;
    height: 100px;
    margin-top: 5px;
    background: center / cover;
    background-image: url("https://assets.ppy.sh/beatmaps/292301/covers/cover.jpg");
    border-radius: 0 var(--border-radius-px) 0 var(--border-radius-px);
}
/* Map Shown Overlay */
.map-shown-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Now Playing Container */
.now-playing-container {
    position: absolute;
    /* top: 161px; */
    top: 130px;
    right: 0px;
    width: 303px;
    height: 1086px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
}
/* Now Playing Stats Massive Container */
.now-playing-stats {
    position: relative;
    border-radius: 50px;
    width: 205px;
    height: 608px;
}
/* .now-playing-stats-grandma - do not delete this */
.now-playing-stats-background {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: rgb(4, 30, 124);
    opacity: 0.62;
}
/* Now Playing Stats Container */
.now-playing-stats-container {
    position: absolute;
    left: var(--now-playing-stats-container-left);
    width: calc(100% - var(--now-playing-stats-container-left) * 2);
    color: rgb(131, 201, 255);
    font-family: "Alan Sans";
    font-weight: 500;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
}
/* Now Playing Stats Container */
.now-playing-short-stats-container {
    top: 36px;
    justify-content: space-between;
}
.now-playing-long-stats-container { top: 172px; }
/* Stats Number + Wrapper */
.now-playing-stat-wrapper { margin-bottom: 24px; }
.now-playing-stat-number {
    font-weight: 600;
    color: white;
}
.now-playing-short-stat-number { margin-left: 10px; }
.now-playing-long-stat-number { margin-left: 31px; }
/* Now Playing Divider */
.now-playing-divider-1 { top: 142px; }
.now-playing-divider-2 { top: 387px; }
/* Now Playing Replayer Container */
.now-playing-replayer-container { top: 410px; }
.now-playing-replayer-icon { 
    --dimension: 92px;
    width: var(--dimension);
    height: var(--dimension);
}
/* Now Playing Replayer String */
.now-playing-replayer-string {
    width: 100%;
    text-align: center;
    font-family: "Alan Sans";
    font-size: 20px;
}
/* Now Playing Replayer Played By */
.now-playing-replayer-played-by {
    color: rgb(131, 201, 255);
    font-weight: 500;
    margin-top: 8px;
}
/* Now Playing Replayer Name*/
.now-playing-replayer-name {
    font-weight: 600;
    color: white;
}