:root {
    --aim-text-color: rgb(255, 193, 209);
    --vinyl-aim-color: rgb(255, 86, 158);
    --vinyl-tap-color: rgb(255, 109, 44);
    --vinyl-ctl-color: rgb(44, 255, 153);
    --vinyl-gim-color: rgb(209, 98, 255);
    --vinyl-tb-color: rgb(103, 167, 255);

    --now-playing-stats-container-left: 16px;
    --vinyl-container-dimension: 176px;
    --now-playing-metadata-text-container-width: 1253px;

    --strain-graph-width: calc(var(--now-playing-metadata-text-container-width) - (var(--vinyl-container-dimension) / 4));
}

/* Whole Page */
.page-size {
    position: absolute;
    top: 0;
    left: 0;
    width: 2560px;
    height: 1440px;
}

/* Absolute Center */
.absolute-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Main Page */
.main { background-image: url("static/background.png"); }

/* Logo */
.logo { top: 25px; }

/* Showcase Round Text */
.showcase-round-text {
    font-size: 25px;
    font-family: "Alan Sans";
    color: rgb(162, 171, 240);
    font-weight: 700;
    position: absolute;
    left: 320px;
    top: 123px;
}

/* Map Shown Container */
.maps-shown-container {
    position: absolute;
    top: 161px;
    left: 0px;
    width: 317px;
    height: 1086px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Map Shown Wrapper */
.map-shown-wrapper {
    width: 270px;
    height: 207px;
}
/* Map Shown Identifier */
.map-shown-identifier {
    height: 42px;
    margin-left: -3px;
}
/* Map Shown Metadata */
.map-shown-metadata {
    font-size: 19px;
    font-family: "Alan Sans";
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* Map Shown Artist */
.map-shown-artist {
    color: var(--aim-text-color);
    margin-top: -12px;
}
/* Map Shown Title */
.map-shown-title {
    color: white;
    margin-top: -3px;
}
/* Map Shown Difficulty */
.map-shown-difficulty {
    color: var(--aim-text-color);
    margin-top: -3px;
}
/* Map Shwon Background */
.map-shown-background {
    position: relative;
    --border-radius-px: 22px;
    width: 270px;
    height: 100px;
    margin-top: 5px;
    background: center / cover;
    background-image: url("https://assets.ppy.sh/beatmaps/292301/covers/cover.jpg");
    border-radius: 0 var(--border-radius-px) 0 var(--border-radius-px);
}
/* Map Shown Overlay */
.map-shown-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Gameplay Border */
.gameplay-border { top: 137px; }

/* Now Playing Container */
.now-playing-container {
    position: absolute;
    /* top: 161px; */
    top: 130px;
    right: 0px;
    width: 303px;
    height: 1086px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
}
/* Now Playing Stats Massive Container */
.now-playing-stats {
    position: relative;
    border-radius: 50px;
    width: 205px;
    height: 608px;
}
/* .now-playing-stats-grandma - do not delete this */
.now-playing-stats-background {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: rgb(4, 30, 124);
    opacity: 0.62;
}
/* Now Playing Stats Container */
.now-playing-stats-container {
    position: absolute;
    left: var(--now-playing-stats-container-left);
    width: calc(100% - var(--now-playing-stats-container-left) * 2);
    color: rgb(131, 201, 255);
    font-family: "Alan Sans";
    font-weight: 500;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
}
/* Now Playing Stats Container */
.now-playing-short-stats-container {
    top: 36px;
    justify-content: space-between;
}
.now-playing-long-stats-container { top: 172px; }
/* Stats Number + Wrapper */
.now-playing-stat-wrapper { margin-bottom: 24px; }
.now-playing-stat-number {
    font-weight: 600;
    color: white;
}
.now-playing-short-stat-number { margin-left: 10px; }
.now-playing-long-stat-number { margin-left: 31px; }
/* Now Playing Divider */
.now-playing-divider-1 { top: 142px; }
.now-playing-divider-2 { top: 387px; }
/* Now Playing Replayer Container */
.now-playing-replayer-container { top: 410px; }
.now-playing-replayer-icon { 
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    --dimension: 92px;
    width: var(--dimension);
    height: var(--dimension);
}
/* Now Playing Replayer String */
.now-playing-replayer-string {
    width: 100%;
    text-align: center;
    font-family: "Alan Sans";
    font-size: 20px;
}
/* Now Playing Replayer Played By */
.now-playing-replayer-played-by {
    color: rgb(131, 201, 255);
    font-weight: 500;
    margin-top: 8px;
}
/* Now Playing Replayer Name*/
.now-playing-replayer-name {
    font-weight: 600;
    color: white;
}

/* Now Playing Metadata Container */
.now-playing-metadata-container {
    position: absolute;
    bottom: 5px;
    left: 605px;
    display: flex;
}
/* Vinyl Container */
.vinyl-container {
    background: transparent;
    border-radius: 50%;
    width: var(--vinyl-container-dimension);
    height: var(--vinyl-container-dimension);
    z-index: 1;
}
/* Vinyl */
.vinyl {
    mix-blend-mode: luminosity;
    width: 100%;
    height: auto;
    animation: spin 20s linear infinite;
}
@keyframes spin {
    0% { rotate: 0deg; }
    100% { rotate: 360deg; }
}
/* Vinyl Map */
.vinyl-map {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    --dimension: 117px;
    width: var(--dimension);
    height: var(--dimension);
    background: center / cover;
    background-image: url("https://assets.ppy.sh/beatmaps/292301/covers/cover.jpg");
    border-radius: 50%;
}
/* Now Playing Metadata Text Container */
.now-playing-metadata-text-container {
    position: absolute;
    left: calc(var(--vinyl-container-dimension) / 2);
    top: 50%;
    transform: translateY(-50%);
    width: var(--now-playing-metadata-text-container-width);
    height: 148px;
    border-radius: 0 45px 45px 0;
    overflow: hidden;
}
/* Now Playing Metadata Text Background */
.now-playing-metadata-text-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(4, 30, 124);
    opacity: 0.341;
    border-radius: inherit;
}
/* Now Playing Metadata Text */
.now-playing-metadata-text {
    position: absolute;
    left: 10px;
    width: calc(var(--now-playing-metadata-text-container-width) - 100px);
    font-family: "Alan Sans";
    text-align: center;
    font-size: 21px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.now-playing-metadata-text-blue {
    color: rgb(154, 168, 255);
    font-weight: 400;
}
.now-playing-metadata-text-white {
    color: white;
    font-weight: 600;
}
.now-playing-metadata-artist { top: 6px; }
.now-playing-metadata-title { top: 30px; }
.now-playing-metadata-difficulty { top: 57px; }
.now-playing-metadata-mapped-by { top: 104px; }

/* --- Strain Graph --- */
#strain-graph {
    position: absolute;
    bottom: 0;
    left: calc((var(--vinyl-container-dimension) / 4));
    width: var(--strain-graph-width);
    height: 120px;
}
.strain-graph-detail {
    position: absolute;
    top: 20px;
    border-radius: 17px;
}
#progress {
	position: absolute;
    bottom: 0;
    left: 0;
	width: calc(var(--strain-graph-width) * 2);
    height: 120px;
	padding: 0;
	overflow: hidden;
	transition: 100ms linear;
	-webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 49.95%, transparent 50%);
	mask-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 49.95%, transparent 50%);
}