/* Whole Page */
.main {
    width: 1920px;
    height: 1080px;
    background-image: url("static/background.png");
    font-family: "Alan Sans";
}

/* Logo */
.logo {
    position: absolute;
    top: 40px;
    left: 40px;
    height: 70px;
}

/* Stream Title */
.stream-title {
    top: 110px;
    lefT: 40px;
}

/* Team Seed */
.team-seed {
    font-size: 35px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: 0px 3px 7px rgba(0, 0, 0, 1);
    position: absolute;
    left: 271px;
    top: 160px;
}

/* Team Name */
.team-name {
    font-size: 65px;
    color: white;
    font-weight: bold;
    text-shadow: 0px 3px 7px rgba(0, 0, 0, 1);
    position: absolute;
    left: 274px;
    top: 212px;
    width: 670px;
    height: 59px;
    text-wrap: nowrap;
}

/* Team Players */
.team-players {
    font-size: 30px;
    font-weight: 400;
    color: rgb(185, 183, 183);
    text-shadow: 0px 3px 7px rgba(0, 0, 0, 1);
    position: absolute;
    left: 271px;
    top: 324px;
    width: 554px;
    height: 105px;
}
.player-rank { color: white; }